## Mossaic Plot

In [ ]:
#install.packages('vcd')
library(vcd)
mosaic(HairEyeColor,main = "Mosiac Plot of HairEyeColor Data",highlighting = "Sex",highlighting_fill = c('grey','grey80'),direction = c('v','h','v'),pop = FALSE)
labs = round(prop.table(HairEyeColor),3)
labeling_cells(text = labs,margin = 0)(HairEyeColor)
# If we wanna do the classififcation in any specific order i.e Eye color then Hair Color then Sex
# mosaic(~Eye+Hair+Sex,data=HairEyeColor,main="Mosiac Plot of HairEyeColor Data",highlighting = "Sex",highlighting_fill = c('red','blue'),direction = c('v','h','v'))

## Interpretation

#### Mosaic Plot For Titanic Dataset

In [ ]:
install.packages('vcdExtra')

In [ ]:
str(Titanic)

In [ ]:
install.packages('vcd')
library(vcd)

# Load Titanic dataset
data("Titanic")
titanic_df <- as.data.frame(Titanic)

# Convert Titanic data to a contingency table format
titanic_table <- xtabs(Freq ~ Sex + Class + Survived, data = titanic_df)

# Create the Mosaic Plot
mosaic(titanic_table,
       labeling = labeling_values,   # Show actual frequencies
       main = "Mosaic Plot: Titanic Survival by Sex, Class, and Survival Status"
)

In [ ]:
devtools::load_all()

In [ ]:
library(datasets)
data("Titanic")
titanic_df = as.data.frame(Titanic)
agg_counts = aggregate(Freq ~ Sex + Class + Survived+Age, data = titanic_df, sum)
print(agg_counts)

# Titanic Survival Report
### Analyzing Gender and Class Differences
The Titanic dataset shows a strong relationship between survival, gender, and passenger class. When looking at female passengers, survival rates were significantly higher, especially among those in higher classes. In 1st class, 141 out of 145 women survived, which is about 97%. In 2nd class, 93 out of 106 women survived, roughly 88%. Even in 3rd class, where survival was generally lower, 90 out of 196 women made it — around 46%. Among the 23 female crew members, 20 survived, showing an 87% survival rate. These figures highlight that women, especially those in upper classes, were given priority during evacuation.
In contrast, male passengers had much lower survival rates. In 1st class, only 62 out of 180 men survived — about 34%. The numbers dropped drastically in 2nd class, where just 25 out of 179 men survived, a survival rate of around 14%. In 3rd class, the largest group among male passengers, only 88 out of 510 survived — meaning 422 men lost their lives. Among the male crew, the largest group onboard with 862 members, only 192 survived, which is just 22%.
These reveal a clear pattern: women, especially in higher socioeconomic classes, were more likely to survive the disaster. On the other hand, men, particularly those in lower classes or working as crew, faced much higher mortality. The results reflect the harsh realities of social structure during that time, as well as the strong influence of gender roles in emergency situations.

# Scatterplot Matrix

In [ ]:
install.packages("GGally")
library(GGally)
ggpairs(iris,mapping = aes(color = Species))

In [ ]:
dmultinom()

In [ ]:
pairs(iris[-5],col=iris$Species,oma=c(3,3,8,15),main="Pairwise Scatterplot")
par(xpd=TRUE)
legend("bottomright",fill=unique(iris$Species),legend=c(levels(iris$Species)))

In [ ]:
## Another Way to do this
pairs(iris[-5],col=iris$Species,oma = c(3,3,8,15), main = "Pairwise Scatterplot") # Here oma is Outer Margin
par(xpd = TRUE)
legend("bottomright",fill = unique(iris$Species),legend=c(levels(iris$Species)))